.header {
    background-color:  rgb(87, 80, 80);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
       
}

.photo {
    display: flex;
    height: 75px;    
    width: 75px;
    margin-right: 1100px;
    
}
#links {
    display: flex;
    list-style-type: none;
    color: black;
    
    
}

li > a {
    color: white;
    margin-right: 20px;

}

body {
    margin:0%

}

.banner {
    display: flex;
    height: 400px;    
    width: 100%;
    
} 

