.header {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
padding-left: 10px;

}
#links {
    display: flex;
    list-style-type: none;
    
}
li > a {
    color: white;
    margin-right: 10px;
}

body {
    margin:0%
}

